* {
  margin: 0px;
}

h1 {
  padding: 30px;
  font-size: 40px;
}

.App {
  text-align: center;
  background-color: chartreuse;
}

.checkbox {
  display: inline-block;
  margin-right: 30px;
  align-items: center;
}

#menu-box {
  padding: 10px 10px 10px 10px;
  min-height: 5%;
  min-width: 150px;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 4px 2px;
  margin: 20px 150px;
}

.table {
  font-size: 20px;
  font-weight: bold;
  padding: 30px 30px;
  margin-left: auto;
  margin-right: auto;
  min-height: 5%;
  min-width: 150px;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 4px 2px;
}
